/* Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GLOBAL */
:root {
    font-size: 18px;
    font-family: "Montserrat", "Molle", sans-serif, cursive;
    --fancyfont: "Molle", cursive;
    --regfont: "Montserrat", sans-serif;
    --yellow: #f6d64a;
    --teal: #55bcd5;
    --purple: #9b26b0;
    --blue: #499bd2;
    --dark-gray: #222;
    --light-gray: #eaeaea;
    --white: #fff;
    --black: #000;
}


/* Mobile First Styles */

#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;

}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }


body {
    background: var(--white);
    background: linear-gradient(0deg, var(--white) 95%, var(--teal) 100%); 
    quotes: auto;
}

header {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 3fr 1fr 2fr;
 grid-template-areas: 
    "logo nav nav"
    "head head head"
    "text text text";
}

#logo {
    grid-area: logo;
    place-self: center;
}

#logo img {
    max-width: 100%;
}

nav {
    grid-area: nav;
    place-self: baseline stretch;
}

#menu-toggle { 
    width: 100%;
    list-style: none; 
    padding: 1rem; 
    margin-top: 6vh;
    color: var(--black); 
    background: var(--yellow);
    font-family: var(--regfont);
    font-weight: 900;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}

#menu-toggle a {
  text-decoration: none;
  cursor: pointer;  
  font-family: var(--regfont);
}

#menu-toggle:last-child {
    border: 0;
  }

/* SUB-SECTIONS */
#menu-toggle ul { 
    display: none; 
}
#menu-toggle input:checked ~ ul { 
    display: block; 
}

/* HIDE CHECKBOX */
#menu-toggle input[type=checkbox] { 
    display: none; 
}

/* ADD EXPAND/COLLAPSE ICON  */
#menu-toggle { 
  position: absolute; 
  z-index: 1;
}
#menu-toggle label:after {
  content: "\0002B";
  position: absolute;
  top: 0; 
  left: 0;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: var(--black);
  opacity: 0;
}

#menu-toggle + input[type=checkbox]:checked {
    background-color: var(--dark-gray);
    color: var(--white);

  }

/* SUB-SECTION ITEMS */
#menu-toggle ul { 
    margin-top: 20px; 
    position: absolute;
    background-color: var(--teal);
}

#menu-toggle ul a {
    color: var(--black);
    font-variant-caps: all-small-caps;
    font-size: 1.5rem;
}

#menu-toggle ul li {
    padding-top: 3vh;
    padding-bottom: 3vh;
    border: 1px var(--black) solid;
    text-align: center;

}


/* Main Body */

h1 {
    grid-area: head;
    font-family: var(--fancyfont);
    font-size: 3rem;
    padding-left: 6vw;
    place-self: center start;
}

header p {
    grid-area: text;
    font-family: var(--regfont);
    font-size: 1.2rem;
    margin: 0 4vw;
}

#intro h2 {
    font-family: var(--fancyfont);
    font-size: 3rem;
    padding-left: 6vw;
}

#intro p {
    font-family: var(--regfont);
    font-size: 1rem;
    line-height: 200%;
    margin: 0 4vw;
    padding-bottom: 2vh;
}


/* Image Grid */

#img-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    gap: 2vh;
    padding-bottom: 2vh;
}

#img-grid img {
    width: 100%;
}


/* Plan Your Trip */

#plan {
    background-color: var(--yellow);
    color: var(--black);
    padding-bottom: 4vh;
}

#plan h3 {
    font-family: var(--fancyfont);
    font-size: 2.5rem;
    text-align: center;
    padding: 6vw 4vh;
}

#plan div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    gap: 2vh;
}

#plan div section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    place-self: center;
    background-color: var(--teal);
    border: 4px var(--white) solid;
    border-radius: 10%;
    padding: 4vb;
    width: 50vw;
}

#plan div section a {
    place-self: center;
}

#plan div section a img {
    width: 100%;
    place-self: center;
}

#plan h4 {
    text-align: center;
    font-variant-caps: all-small-caps;
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 3vh;
}

/* Testimonials */

#testimonials h3 {
    font-family: var(--fancyfont);
    font-size: 2.5rem;
    text-align: center;
    padding: 6vw 4vh;
}

#testimonials section {
    display: flex;
    flex-flow: column;
}

#testimonials img {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

#testimonials h4 {
    font-family: var(--regfont);
    text-align: center;
    font-variant-caps: all-small-caps;
    font-size: 3rem;
    font-weight: 900;
}

#testimonials p {
    font-family: var(--regfont);
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1vh;
}

#testimonials q {
    font-family: var(--regfont);
    font-style: italic;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 5vh;
    padding-bottom: 6vh;
}

#testimonials q:before {
    content: "“";
  }
  
#testimonials q:after {
    content: "“";
  }

/* About Your Destination */

#about {
    background-color: var(--blue);
    color: var(--black);
    padding-left: 4vb;
    padding-right: 4vb;
    padding-bottom: 4vh;
}

#about h3 {
    font-family: var(--fancyfont);
    font-size: 2.5rem;
    text-align: center;
    padding: 6vw 4vh;
}

#about div {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1vb;
    grid-template-rows: auto auto;
}

#about section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

#about img {
    place-self: center;
    width: 45%;
    padding-bottom: 1vw;
}

#about img[src="images/population.svg"] {
    place-self: center;
    width: 80%;
    padding-bottom: 2vw;
}

#about h4 {
    font-family: var(--regfont);
    text-align: center;
    font-variant-caps: all-small-caps;
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 1vw;
}

#about p {
    font-family: var(--regfont);
    text-align: center;
    padding-bottom: 3vw;
}

/* Contact Us Form */

#contact {
    padding-bottom: 4vh;
}

#contact h3 {
    font-family: var(--fancyfont);
    font-size: 2.5rem;
    text-align: center;
    padding: 6vw 4vh;
}

.form-required {
    display: inline;
    font-family: var(--regfont);
    font-size: 1rem;
}

#contact div {
    padding-left: 10%;
    padding-right: 15%;
}

#contact input {
    display: block;
    width: 100%;
    padding: 1em 1em;
    background-color: var(--white);
    border: 2px var(--purple) solid;
    margin-bottom: 2vb;
    margin-top: 0.5vb;
}

#contact div[id="names"] {
    padding-bottom: 2vb;
}

#contact label {
    font-family: var(--regfont);
    font-size: 1.3rem;
    font-variant-caps: all-small-caps;
    font-weight: 700;
}

#contact span[class="required"] {
    color: var(--purple);
    padding: 0.25em;
    font-size: 1.3rem;
    font-variant-caps: all-small-caps;
    font-weight: 700;
}

/* Footer */

footer {
    background-color: var(--light-gray);
    color: var(--black);
    padding: 4vb 6vb;
    text-align: center;
    font-size: 0.9rem;
}

footer p {
    padding-bottom: 2vb;
}

footer a {
    color: var(--black);
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 2vb 0;
}